* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("pencils.jpg");
}

h1 {
  text-align: center;
  color: blue;
  font-size: 45px;
}

form {
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

input {
  font-size: 25px;
}
